.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart {
 width: 50px;

}
.badge {
    width: 100%;
    background-color: rgb(4, 170, 18);; 
    font-weight: bold;
}